/* CSS reset */
* {
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

/* App */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');

:root {
  --main-bg-color: hsl(228, 28%, 20%);
  --blue-text: #22a2bd;
  --black-text: hsl(228, 28%, 20%);
  --white-text: #fff;
}  

body, html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-align: center;
  background-image: url('./img/colors-1570145.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.App {
  background-color: hsla(232, 19%, 15%, 30%);
  backdrop-filter: blur(6px);
  min-height: 100vh;
}

div.stickyHeader {
  width: 100%;
  /* position: sticky; */
  top: 0;
  z-index: 999;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
}

header h1 {
  font-family: 'Ole', cursive;
  position: absolute;
  top: 0;
  left: .25em;
  font-size: 124px;
  color: var(--blue-text);
  font-weight: 300;
}

header p {
  position: absolute;
  right: 12px;
  top: 100px;
  color: var(--black-text);
}

header input.search {
  padding: .25em;
  /* background-color: var(--blue-text); */
  border: 1px solid white;
  background: none;
  color: white;
  /* font-size: 12px; */
  /* width: 241px; */
}
nav button {
  background-color: var(--main-bg-color);
  color: white;
}

section.home {
  position: relative;
  margin: 0;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./img/pexels-una-laurencic-20967.jpg');
  background-size: cover;
}
section.home img {
  width: 100%;
  object-fit: cover;
}

section.home h1 {
  color: var(--white-text);
}

section.home button {
  border: 3px solid;
  border-color: var(--white-text);
  background: none;
  font-size: 2rem;
  padding: .5em 3em;
}
section.home button:hover {
  background: var(--blue-text);
  border-color: var(--blue-text);
}

button {
  color: white;
  background-color: var(--main-bg-color);
  font-size: 20px;
  font-weight: 900;
  margin: 20px;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
}

button:hover {
  color: var(--white-text);
  background-color: var(--blue-text);
}

button.loader {
  width: 80vw;
  margin: 0 auto 2em;
}

.artRecords {
  width: 80vw;
  margin: 2em auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.artItem {
  position: relative;
  padding: .5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  color: white;
}

.artItem .actions {
  width: 100%;
  background-color: var(--blue-text);
  display: flex;
  justify-content: space-between;
}

.artItem button {
  padding: 10px 15px;

  font-size: 36px;
  font-weight: 900;
  margin: 0;
  color: var(--white-text);
  background: none;
}

.artItem button:hover {
  background-color: var(--main-bg-color);
}

.artItem h3 {
  color: var(--white-text);
  font-size: 16px;
  margin: 1em 0;
  font-weight: 700;
}

.artItem img {
  width: 80%;
  height: 240px;
  max-width: 360px;
  max-height: 360px;
  border-radius: none;
  margin: 24px 0 12px 0;
  object-fit: scale-down;
}

.artItem p {
  color: var(--white-text);
  font-size: 14px;
  text-align: left;
  margin: 1em;
  padding-right: 80px;
}

.artItem span.label {
  color: var(--blue-text);
  display: block;
}

.details h1 {
  margin-top: 40px;
  font-size: 40px;
  color: var(--black-text);
}

.details img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.imageInDetails {
  max-width: 40vw;
  max-height: 50vh;
}

.noImageInDetails {
  height: 30vh;
}

.objectDetails {
  width: 40vw;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(150, 150, 150, 0.6);
}

.objectDetails span {
  font-size: 20px;
  font-weight: 600;
}

.objectDetails p {
  margin: 0.5rem;
  font-size: 18px;
}

input {
  color: var(--blue-text);
  background-color: var(--white-text);
  font-size: 20px;
  font-weight: 900;
  margin: 20px;
  padding: 16px 24px;
  border: none;
}

section {
  margin-top: 1em;
}

section h1 {
  margin-top: 40px;
  font-size: 40px;
  color: var(--black-text);
}

.imageItem {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 92px;
  width: calc(100vw - 17px);
  height: calc(100vh - 92px);
  
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
  background-color: rgba(79, 15, 82, 0.85);
}

.imageItem img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: cover;
  border: 1px solid;
  padding: 1rem;
  background-color: var(--white-text);
}
.imageItem img:hover {
  cursor: pointer;
}

input.searchInput {
  margin-right: 0;
}
button.searchButton {
  margin-left: 0;
  /* font-size: 20px; */
}