/* CSS reset */
* {
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
}
  
ol,
ul,
li {
    list-style: none;
    display: inline-block;
}
  
table {
    border-collapse: collapse;
    border-spacing: 0;
}
  
a img {
    border: none;
}
  
button,
a{
    cursor: pointer;
    color: inherit;
}
 
/* App */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
  
body, html {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
    font-size: 14px;
    text-align: center;
    background-color: hsl(232, 19%, 15%);;
}
  
.App {
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
    background-color: hsl(232, 19%, 15%);
}

header.App-header {
    text-align: center;
    width: 100%;
    margin: 2em auto;
    margin-top: 0;
    color: hsl(0, 0%, 100%);
}
  
header img {
    width: 40vw;
    margin-left: 60px;
    cursor: pointer;
}


h1 {
    font-size: 24px;
    color: #76FE46;
    margin: 2em auto;
}

button {
	color: #104855;
    background-color: hsl(228, 28%, 20%);
	font-size: 20px;
	font-weight: 900;
    margin: 20px;
	padding: 16px 24px;
	border: none;
	cursor: pointer;
}

button:hover {
	color: white;
	background-color: #22a2bd;
}

button.loader {
    width: 80vw;
    margin: 0 auto 2em;
}

.artRecords {
    width: 80vw;
    margin: 2em auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.artItem {
    position: relative;
    background-color: hsl(228, 28%, 20%);
    color: white;
    padding: .5em;
}

.artItem button {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    color: white;
}

.artItem h3 {
	color: white;
    font-size: 16px;
    margin: 1em 0;
    font-weight: 700;
}

.artItem img {
    width: 99%;
    border-radius: none;
    margin: 0 0 1em 0;
}

.artItem p {
	color: white;
    font-size: 14px;
    text-align: left;
    margin: 1em;
}

.artItem span.label {
    color: #22a2bd;
    display: block;
}
