/* CSS reset */
* {
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

/* App */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');

:root {
  --main-bg-color: hsl(228, 28%, 20%);
  --blue-text: #22a2bd;
  --black-text: hsl(228, 28%, 20%);
  --white-text: #fff;
  --accent-color: rgb(241, 216, 75);
  --border-style: 1px dotted;
}

/* #root {
  backdrop-filter: blur(6px);  
} */

body, html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-align: center;
  background-image: url('./img/roman-bozhkov-oil-painting-wooarts-024-blurred.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.App {
  /* position: relative; */
  background-color: hsla(232, 19%, 15%, 30%);
  backdrop-filter: blur(6px);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

div.stickyHeader {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
}

header h1 {
  font-family: 'Ole', cursive;
  position: absolute;
  top: 0;
  /* padding: 16px; */
  left: .25em;
  font-size: 124px;
  color: var(--accent-color);
  font-weight: 300;
  mix-blend-mode: hard-light;
}

header p {
  position: absolute;
  right: 12px;
  top: 74px;
  color: var(--blue-text);
  /* background-color: var(--blue-text); */
}

header input.search {
  padding: .25em;
  border: 1px solid white;
  background: none;
  color: white;
}

nav button {
  background-color: var(--main-bg-color);
  color: white;
}

section.home {
  position: relative;
  margin: 0;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./img/roman-bozhkov-oil-painting-wooarts-024.jpg');
  background-size: cover;
}

section.home img {
  width: 100%;
  object-fit: cover;
}

section.home h1 {
  color: var(--white-text);
  background: none;
  border-bottom: 2px solid;
  font-size: 48px;
  text-shadow: 2px 2px 2px rgba(60, 60, 60, 1);
  /* padding-top: 160px; */
  /* mix-blend-mode: hard-light; */
}

section.home button, section.login button, section.register button {
  border: 3px solid;
  border-color: var(--white-text);
  background-color: rgba(255,255,255,.4);
  font-size: 2rem;
  padding: .5em 3em;
  color: var(--black-text);
}

section.home button:hover, section.login button:hover, section.register button:hover {
  background: var(--blue-text);
  border-color: var(--blue-text);
  color: var(--white-text);
}

button {
  color: white;
  background-color: var(--main-bg-color);
  font-size: 20px;
  font-weight: 900;
  margin: 20px;
  padding: 16px 24px;
  border: none;
  cursor: pointer;
}

button:hover {
  color: var(--white-text);
  background-color: var(--blue-text);
}

button.loader {
  width: 80vw;
  margin: 0 auto 2em;
}

.artRecords {
  width: 80vw;
  margin: 24px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  padding-bottom: 24px;
}

@media (max-width: 576px) {  
  .artRecords {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }
}
 
@media (min-width: 576px) {  
  .artRecords {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .artRecords {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .artRecords {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .artRecords {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
}

.artItem {
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: white;
}

.artItem .actions {
  width: 100%;
  background-color: var(--blue-text);
  display: flex;
  justify-content: space-between;
}

.artItem button {
  padding: 5px 15px 0px;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  color: var(--white-text);
  background: none;
  /* border: 1px solid var(--black-text); */
}

.artItem button:hover {
  background-color: var(--main-bg-color);
}

.artItem h3 {
  color: var(--white-text);
  font-size: 16px;
  margin: 1em 0;
  font-weight: 700;
}

.artItem img {
  width: 80%;
  height: 240px;
  max-width: 360px;
  max-height: 360px;
  border-radius: none;
  margin: 24px 0 12px 0;
  object-fit: scale-down;
  cursor: pointer;
}

.artItem p {
  color: var(--white-text);
  font-size: 14px;
  text-align: center;
  margin: 1em;
}

.artItem span.label {
  color: var(--blue-text);
  display: block;
}

.details {
  height: calc(100vh - 96px);
  /* width: 80vw; */
  margin: 0 auto;
  max-height: 100vh;
  padding-top: 50px;
  backdrop-filter: blur(6px);
}

.details h1 {
  font-size: 36px;
  color: var(--black-text);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--black-text);
  margin-bottom: .75em;
  margin-right: 1rem;
}

.detailsDiv {
  width: 80vw;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 150, 150, 0.6);

}

.imageInDetails {
  max-width: 40vw;
  max-height: 50vh;
}

.noImageInDetails {
  height: 30vh;
}

.objectDetails {
  width: 40vw;
  padding: 30px 0px 30px 50px;
  text-align: left;
}

.objectDetails span {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--black-text);
}

.objectDetails p {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0 0 0;
  font-size: 20px;
}


input {
  color: var(--blue-text);
  background-color: var(--white-text);
  font-size: 20px;
  font-weight: 900;
  margin: 20px;
  padding: 16px 24px;
  border: none;
}

section {
  margin-top: 1em;
}

section h1 {
  font-size: 40px;
  color: var(--black-text);
  /* border-bottom: 2px dotted; */
  margin: 40px auto;
  width: 60vw;
  padding: .5em;
  background-color: rgba(255,255,255,.3);
}

.imageItem {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 92px;

  /* width: calc(100vw - 17px); */
  /* height: calc(100vh - 92px); */
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: auto;
  /* background-color: rgba(65, 106, 158, 0.85); */
  background-color: rgba(255, 255, 255, 0.35);
  /* background-color: rgba(79, 15, 82, 0.85); */
  backdrop-filter: blur(6px);

}

.imageItem img {
  height: 80vh;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
  border: 1px solid;
  border-color:rgba(255, 255, 255, 0.35);
  padding: 1rem;
  background-color: var(--white-text);
  margin-bottom: 92px;
}

form.searchForm {
  position: relative;
  margin-top: 1em;
  /* width: 80vw; */
}

.imageItem img:hover {
  cursor: pointer;
}

input.searchInput {
  margin-right: 0;
  padding-right: 0;
  /* width: 50vw; */
  width: 540px;
}
input.searchInput::placeholder {
  color: #777;
  font-weight: 300;
  font-size: 14px;
}

button.searchButton {
  margin-left: 0;
}

button.clearButton {
  position: relative;
  left: 0;
  /* top: 12px;
  margin: 0; */
  margin: 0 0 0 -156px;
  padding: 16px 24px;
  background: none;
  color: var(--blue-text);
}

button.clearButton:hover {
  background-color: var(--blue-text);
  color: var(--white-text);
}
button.clearButton.hidden {
  visibility: hidden;
}

h2.ifYou {
  margin-top: 160px;
  font-size: 24px;
  color: var(--white-text);
}

div.addTagDiv {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: .5em; */
}

span.addTagLabel {}

input.addTagTitle {
  display: inline;
  width: 100%;
  padding: 3px;
  margin: 0;
}

input.addTagTitle::placeholder {
  font-weight: 100;
  font-size: 16px;
}

button.addTagButton {
  /* display: inline;
  margin: 0;
  padding: 0; */
}

.spinner {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div.message {
  position: sticky;
  top: 96px;
  left: 0;
  background-color: rgba(241, 216, 75, .7);
  color: var(--black-text);
  font-size: 24px;
  font-weight: 700;
  padding: .5em;
  /* mix-blend-mode: hard-light; */
}

div.message:hover {
  cursor: pointer;
}

p.emptyCollection {
  color: var(--white-text);
  font-size: 32px;
  font-weight: 700;
  padding: .5em;
  text-align: center;
}